{% extends "base.html" %}

{% block title %}Pagrindinis puslapis{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content text-center">
        <h1>Sveiki atvykę į paslaugų puslapį!</h1>
        <p class="lead">Pasirinkite norimą paslaugą arba užsiregistruokite.</p>
        <a class="btn btn-primary" href="{% url 'paytono_failai:registracija' %}">Registruotis</a>
        <a class="btn btn-success" href="{% url 'paytono_failai:booking' %}">Rezervuoti paslaugą</a>
    </div>
</section>
{% endblock %}
